<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin=>



    <title>YoFit - Nutrition Information</title>
  </head>

   {% with messages = get_flashed_messages() %}
   {% if messages %}
    {% for message in messages %}
     <p> {{message}} </p>
    {% endfor %}
   {% endif %}
  {% endwith %}

  <body style="background: #c6c6c6">
    <h2> <b> <u> yoFit - Add nutrition information</h2> </b> </u>
     {% for food in food_list %}
      {{food}}
     <form action="" method="post" nonvalidate>
       {{dup_nutrition_form.csrf_token}}
       <p>
        {% for field in dup_nutrition_form.duplicate %}
          {{field.csrf_token}}
          {{field.food_calories.label}}
          {{field.food_calories}} <br> </br>
          {{field.food_carbs.label}}
          {{field.food_carbs}} <br> </br>
          {{field.food_protien.label}}
          {{field.food_protien}} <br> </br>
          {{field.food_fat.label}}
          {{field.food_fat}} <br> </br>
          {{dup_nutrition_form.submit()}}
        {% endfor %}
       </p>
     {% endfor %}
     </form>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
 </body>
</html>
