<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin=>



    <title>YoFit - Edit Meal</title>
  </head>


  <header>
    <ul>
        <li><a class="active" href="/home">YoFit</a></li>
        <li><a class="active" href="/createMeal">Add Meal</a></li>
        <li><a class="active" href="/viewMeals">View Meals</a></li>
        <li><a class="active" href="/createWorkout">Add Workout</a></li>
        <li><a class="active" href="/viewWorkouts">View Workouts</a></li>
        <li><a class="active" href="/profile">Profile</a></li>
      </ul>
  </header>

  {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
  {% endwith %}

  <br>
  <br>
  <body>

    <div class="shadow p-3 mb-5 bg-info bg-opacity-50 rounded mx-auto" style="width: 400px;">
      <h2 style = "text-align: center;">Edit Meal</h2>
      <div class="card text-center" style ="width: 100%; padding: 5px">
          <p style="margin-bottom: 10px;">
                  
          </p>
          <form method = "POST" novalidate>
              {{meal_form.csrf_token}}
          
              <p style="font-size: 18px;">
                <strong style="font-size: 18px;">Meal Name: </strong>{{meal.name}} 
              </p>
              <p style="font-size: 18px;">
                <strong style="font-size: 18px;">Meal Item Names: </strong>{{meal.meal_item_names}} 
              </p>
              <p style="font-size: 18px;">
                <strong style="font-size: 18px;">Meal Calories: </strong>{{meal.meal_calories}} 
              </p>
              <p style="font-size: 18px;">
                <strong style="font-size: 18px;">Meal Carbohydrates: </strong>{{meal.meal_carbs}} 
              </p>
              <p style="font-size: 18px;">
                <strong style="font-size: 18px;">Meal Protein: </strong>{{meal.meal_protien}} 
              </p>
              <p style="font-size: 18px;">
                <strong style="font-size: 18px;">Meal Fat: </strong>{{meal.meal_fat}} 
              </p>
              <p style="font-size: 18px;">
                <strong style="font-size: 18px;">{{meal_form.time_to_eat.label}}: </strong>{{meal_form.time_to_eat}} 
              </p>
              <p style="font-size: 18px;">
                <strong style="font-size: 18px;">{{meal_form.time.label}}: </strong>{{meal_form.time}} 
              </p>
              <p>
                  {{ meal_form.submit(class="btn btn-primary") }}
              </p>
              <p> <a class="btn btn-outline-dark" href="/addFoodExisting/{{meal.id}}" role="button">Add a food </a> </p>
              
          
          </form>

      </div>
      
  
  </div>
    
  </body>
</html>
