<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin=>



    <title>YoFit - Edit meals</title>
  </head>

   {% with messages = get_flashed_messages() %}
   {% if messages %}
    {% for message in messages %}
     <p> {{message}} </p>
    {% endfor %}
   {% endif %}
  {% endwith %}

  <body style="background: #c6c6c6">
    <h2> <b> <u> yoFit - Edit meals</h2> </b> </u>
     {%for meal in all_meals %}
       <p> {{meal.name}} </p>
       <p> <a class="btn btn-outline-dark" href={{meal.id}} role="button">Edit </a> </p>
     {% endfor %}

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </body>
</html>
